@use "../utils" as *;
@use "../global" as *;



.section2 {
  display: flex;
  flex-direction: column;
}
.section21 {
  display: flex;
  flex-direction: column;
  margin: 0px auto 49px;

  width: 86.07%;
  background-color: rgba(173, 149, 102, 0.109);
}

.flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px 10px;
  margin: 70px auto 220px;
  width: 94.51%;
}

.flex_col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px 10px;
  width: 96.11%;
}
.hero_title {
  font: 600 43px/1.3 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}
.subtitle {
  font: 400 22px/1.27 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}
.flex_col2 {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  gap: 30px 40px;
  width: 100%;
}
.big_title {
  display: flex;
  justify-content: center;
  font: 400 35px/1.28 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top:50px;
  margin-bottom:50px;
}
.flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  width: 100%;
  @include lg {
    flex-direction: column;
    gap: 8px 10px;
  }
}
.content_box {
  display: flex;
  flex-direction: column;
  width: 317px;
  min-width: 0px;
  background-color: rgb(14, 17, 42);
  @include lg {
    flex: 0 1 auto;
    order: 1;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.flex_col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px 10px;
  margin: 31px 36px 30px 32px;
}
.big_title1 {
  display: flex;
  justify-content: center;
  font: 400 34px/1.29 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
}
.subtitle1 {
  display: flex;
  justify-content: center;
  font: 400 22px/1.27 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: left;
}

.bottomBorder{
  width: auto;
  @include sm{
    height: 20px;
  }

}


.blockchainSociety {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 80px;
  @include sm{
    flex-direction: column;
    align-items:left;
    justify-content: left;
    padding-bottom: 20px;
    margin-top: 10px;
  }
}

.leftColumn {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  font-size:26px;
  margin-left:10%;

  @include sm{
    margin-left: 0;
    width: 100%;
  }
}

.rightColumn {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include sm{
    width: 100%;
    height:400px;
    
  }
}

.arrowLeft, .arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 120px;
  top:150px;
  cursor: pointer;
  @include sm{
    font-size:90px;
    top:20%
  }
}

.imgcontainer{
  height: 500px;
  @include md{
    height: 100%;
    width:100%;
    margin-left: 0;
    float:left;
    margin-right:0;
    align-items: center;
    position:relative;
  }
}

.arrowLeft {
  left: 100px;
  
  @include sm{
    left: 20px;
  }
}

.arrowRight {
  
  right: 100px;
  @include sm{
    right: 20px;
  }
}


.IBGPhoto {
  height: 100%;
  
  transition: transform 1s ease-in-out;
  @include sm {
    width: 90%;
    height:auto;
    margin-left:5%;
  }
}

// React on state change to slide in from the right or left
.image-enter {
  transform: translateX(100%);
}
.image-enter-active {
  transform: translateX(0);
}
.image-exit {
  transform: translateX(0);
}
.image-exit-active {
  transform: translateX(-100%);
}



.content_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 95%;
  background-color: rgb(14, 17, 42);
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: lighten(rgb(14, 17, 42), 10%);
  }

  @include sm {
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.expandButton {
  border: none;
  background: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(180deg);
  }
}

.subtitle1 {
  display: block;
  font-size: 16px;
  color: white;
  font-size:28px;
  padding: 20px;

  @include sm {
    display: block;
    padding: 20px;
    font-size:24px;
  }
}

