@use "../utils" as *;
@use "../global" as *;



.section2 {
  display: flex;
  flex-direction: column;
}
/* Align the section with "About Us" margins */
.section21 {
  width: 90%; /* Matches the width of the "About Us" section */
  margin: 0 auto; /* Center-align */
  background-color: rgb(32, 32, 51);
}

.flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 10px;
  margin: 70px auto 80px;
  width: 94.51%;

  @include xxs{
    width: 100%;
  }


}

.flex_col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 10px;
  width: 80%;

  @include xxs{
    width: 90%;
  }
}
.hero_title {
  font: 600 26px/1.3 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}
.subtitle {
  font: 400 22px/1.27 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);

  @include xxs{
    font-size: 15px;
    text-align: center;
    
  }
}
.flex_col2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: 0 auto; /* Centers the entire column */
  padding: 0 5%; /* Adds padding to align with "About Us" text */
}

.big_title {
  display: flex;
  justify-content: center;
  font: 600 24px/1.28 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}

#IBGTitle{
  margin-top:10px;

  @include xxs{
    font-size: 22px;
  }
}
/* Full-width content boxes */
.fullWidthBox {
  width:90%; /* Full width */
  padding: 30px; /* Increase padding for spaciousness */
  margin: 20px auto; /* Add space between boxes */
  border-radius: 10px; /* Slightly rounded corners */
  color: white; /* White text */
  text-align: center; /* Center-align text within the boxes */
  box-sizing: border-box; /* Ensure padding doesn’t affect overall width */
  background-color: rgb(14, 17, 42);
}

.boxContent {
  font: 400 20px/1.6 "Baskervville", Helvetica, Arial, serif; /* Readable font size */
  color: white; /* Keep content text white */
  line-height: 1.8; /* Improve readability with larger line height */
  text-align: center; /* Center-align content */
  @include xs {
    
    font-size: 16px;
    
  }

}
/* Subtitle styling for each box */
.boxTitle {
  font: bold 28px "Baskervville", Helvetica, Arial, serif; /* Larger font for subtitles */
  margin-bottom: 15px; /* Space between title and content */
  color: white; /* Keep title text white */
  text-align: center; /* Center-align the subtitle */
}


.flex_row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px 20px;
  width: 100%;
  @include xs {
    flex-direction: column;
    gap: 8px 10px;
    margin-left:5%;
    
  }
}

.content_box {
  display: flex;
  flex-direction: row;
  
  width: 317px;
  
  min-width: 0px;
  background-color: rgb(14, 17, 42);
  @include lg {
    flex: 0 1 auto;
    order: 1;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }

  @include xs{
    width: 200px;
  }
}
.flex_col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px 10px;
  margin: 31px 36px 30px 32px;
}
.big_title1 {
  display: flex;
  justify-content: center;
  font: 400 21px/1.29 "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
}


.bottomBorder{
  width: 100%;
  @include sm{
    height: 20px;
  }

}


.blockchainSociety {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 80px;
  @include sm{
    flex-direction: column;
    align-items:left;
    justify-content: left;
    padding-bottom: 20px;
    margin-top: 10px;
  }
}

.leftColumn {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  font-size:26px;
  margin-left:3%;

  @include sm{
    margin-left: 0;
    width: 100%;
  }
}

.rightColumn {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include md{
    width: 80%;
  }
  @include sm{
    width: 100%;
    
    
  }
}

.arrowLeft, .arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 70px;
  
  cursor: pointer;
  @include sm{
    font-size:90px;
    top:50%
  }

  @include xs{
    font-size:50px;
  }

  
}

.imgcontainer{
  
  @include sm{
    height: 100%;
    width:100%;
    margin-left: 0;
    float:left;
    margin-right:0;
    align-items: center;
    position:relative;
  }
}

.arrowLeft {
  left: 50px;
  
  @include sm{
    left: 70px;
  }

  @include xxs{
    left:30px;
  }
}

.arrowRight {
  
  right: 50px;
  @include sm{
    right: 70px;
  }

  @include xxs{
    right:30px;
  }
}


.IBGPhoto {
  height: 400px;
  width: auto;
  
  transition: transform 1s ease-in-out;

  @include xxl{
    height: 330px;
  }
  @include xl{
    height: 280px;
    width: auto;
  }

  @include lg{
    height: 250px;
  }

  @include sm {
    width: 70%;
    height:auto;
    margin-left:15%;
    margin-right:auto;
    float:left;
  }
}

// React on state change to slide in from the right or left
.image-enter {
  transform: translateX(100%);
}
.image-enter-active {
  transform: translateX(0);
}
.image-exit {
  transform: translateX(0);
}
.image-exit-active {
  transform: translateX(-100%);
}



.content_box {
  display: flex;
  flex-direction: column;
  align-items:center;
  
  width: 95%;
  background-color: rgb(14, 17, 42);
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: lighten(rgb(14, 17, 42), 10%);
  }

  @include sm {
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.expandButton {
  border: none;
  background: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(180deg);
  }
}

.subtitle1 {
  display: flex;
  justify-content: center;
  font: 30px "Baskervville", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 28px;
  color: white;
  
  padding: 5px;

  @include md{
    font-size: 14px;
    
  }

  @include sm {
    display: block;
    padding: 0px;
    font-size:13px;
  }

  @include xs{
    padding: 10px;
  }

  @include xxs{
    font-size: 20px;
  }

}


